<a href="https://colab.research.google.com/github/ramank123/Pandas/blob/main/Working_with_missing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(
    np.random.randn(5, 3),
    index=["a", "c", "e", "f", "h"],
    columns=["one", "two", "three"],
)


df["four"] = "bar"

df["five"] = df["one"] > 0

In [3]:
df

        one       two     three four   five
a  0.147886 -0.599846  0.351419  bar   True
c -0.715294  0.850994 -1.599008  bar  False
e -0.372808  0.193829 -0.482829  bar  False
f  1.746426 -0.678241 -0.939688  bar   True
h  0.394770  0.038600  1.287933  bar   True

In [4]:
df2 = df.reindex(["a", "b", "c", "d", "e", "f", "g", "h"])

In [5]:
df2

        one       two     three four   five
a  0.147886 -0.599846  0.351419  bar   True
b       NaN       NaN       NaN  NaN    NaN
c -0.715294  0.850994 -1.599008  bar  False
d       NaN       NaN       NaN  NaN    NaN
e -0.372808  0.193829 -0.482829  bar  False
f  1.746426 -0.678241 -0.939688  bar   True
g       NaN       NaN       NaN  NaN    NaN
h  0.394770  0.038600  1.287933  bar   True

In [6]:
df2["one"]

a    0.147886
b         NaN
c   -0.715294
d         NaN
e   -0.372808
f    1.746426
g         NaN
h    0.394770
Name: one, dtype: float64

In [7]:
pd.isna(df2["one"])

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [8]:
df2["four"].notna()

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: four, dtype: bool

In [9]:
df2.isna()

     one    two  three   four   five
a  False  False  False  False  False
b   True   True   True   True   True
c  False  False  False  False  False
d   True   True   True   True   True
e  False  False  False  False  False
f  False  False  False  False  False
g   True   True   True   True   True
h  False  False  False  False  False

In [10]:
df2["one"] == np.nan

a    False
b    False
c    False
d    False
e    False
f    False
g    False
h    False
Name: one, dtype: bool

In [11]:
pd.Series([1, 2, np.nan, 4], dtype=pd.Int64Dtype())

0       1
1       2
2    <NA>
3       4
dtype: Int64

In [12]:
df2 = df.copy()
df2

        one       two     three four   five
a  0.147886 -0.599846  0.351419  bar   True
c -0.715294  0.850994 -1.599008  bar  False
e -0.372808  0.193829 -0.482829  bar  False
f  1.746426 -0.678241 -0.939688  bar   True
h  0.394770  0.038600  1.287933  bar   True

In [13]:
df2["timestamp"] = pd.Timestamp("20120101")

In [14]:
df2

        one       two     three four   five  timestamp
a  0.147886 -0.599846  0.351419  bar   True 2012-01-01
c -0.715294  0.850994 -1.599008  bar  False 2012-01-01
e -0.372808  0.193829 -0.482829  bar  False 2012-01-01
f  1.746426 -0.678241 -0.939688  bar   True 2012-01-01
h  0.394770  0.038600  1.287933  bar   True 2012-01-01

In [15]:
df2.loc[["a", "c", "h"], ["one", "timestamp"]] = np.nan

df2

        one       two     three four   five  timestamp
a       NaN -0.599846  0.351419  bar   True        NaT
c       NaN  0.850994 -1.599008  bar  False        NaT
e -0.372808  0.193829 -0.482829  bar  False 2012-01-01
f  1.746426 -0.678241 -0.939688  bar   True 2012-01-01
h       NaN  0.038600  1.287933  bar   True        NaT